Data & Business Intelligence/Daily meetings summarization with Gemini AI.json
{
  "name": "Daily meetings summarization with Gemini AI",
  "nodes": [
    {
      "parameters": {
        "content": "### Gemini Flash model a base",
        "height": 233,
        "width": 217.47708894878716,
        "color": 4
      },
      "id": "f3d9db7b-facd-46a9-ab5d-e466514a1845",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        112,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Send the response from AI back to slack channel\n",
        "height": 236.66152029520293,
        "width": 223.7196765498655,
        "color": 4
      },
      "id": "38ba1ca3-a918-497c-874a-2d1724f165a0",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Trigger the task daily, receive the meetings data, process the data and return response for sending\n\n\n\n\n\n\n\n\n\n\n\nNo memory assigned to the model since the model is running one task and doesn't need a followup, then send the data to the user.",
        "height": 360,
        "width": 561,
        "color": 4
      },
      "id": "2cca2fde-21ba-4eb3-b30e-0df454e7de5b",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": "C07QMTJHR0A",
          "cachedResultName": "ai-chat-gemini"
        },
        "text": "=Gemini : {{ $json.output.removeMarkdown() }} ",
        "otherOptions": {
          "includeLinkToWorkflow": false,
          "mrkdwn": true
        }
      },
      "id": "6b3143d1-5108-4a87-8329-e31b6ed970d9",
      "name": "Send response back to slack channel",
      "type": "n8n-nodes-base.slack",
      "position": [
        672,
        128
      ],
      "webhookId": "636ae330-cc22-408b-b6a5-caf02e48897f",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this tool when you’re asked to retrieve events data.",
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "john@iKemo.io",
          "cachedResultName": "john@iKemo.io"
        },
        "options": {
          "timeMin": "={{ $fromAI('start_date') }}",
          "timeMax": "={{ $fromAI('end_date') }}"
        }
      },
      "id": "ad3bb776-b72b-4840-b1a1-6dc2657e9934",
      "name": "Google Calendar - Get Events",
      "type": "n8n-nodes-base.googleCalendarTool",
      "position": [
        400,
        480
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=summarize today's meetings.\nstartdate = {{ $now.format('yyyy-MM-dd 00:00:00') }}\nenddate = {{ $now.format('yyyy-MM-dd 23:59:59') }}",
        "options": {
          "systemMessage": "=You are a Google Calendar assistant.\nYour primary goal is to assist the user in managing their calendar effectively using Event Retrieval tool. \nAlways base your responses on the current date: \n{{ DateTime.local().toFormat('cccc d LLLL yyyy') }}.\nGeneral Guidelines:\nAlways mention all meetings attendees\nTool: Event Retrieval\nFormat the date range:\nstart_date: Start date and time in YYYY-MM-DD HH:mm:ss.\nend_date: End date and time in YYYY-MM-DD HH:mm:ss.\n"
        }
      },
      "id": "dcc2582c-62e4-485a-a70a-e60169348e4c",
      "name": "Calendar AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        240,
        128
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "db8df07b-94ae-462b-9367-48b87218246b",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        32,
        128
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "### Access Google Calendar and fetch all the data",
        "height": 233,
        "width": 221.73584905660368,
        "color": 4
      },
      "id": "ba0f21ba-76fa-45d1-af84-28f6ffbc322c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        400
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-latest",
        "options": {}
      },
      "id": "d67e3bb7-1794-4bcf-95ff-31e6a99d15bd",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "position": [
        160,
        512
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calendar AI Agent": {
      "main": [
        [
          {
            "node": "Send response back to slack channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar - Get Events": {
      "ai_tool": [
        [
          {
            "node": "Calendar AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fc8e67d7-2927-4bcf-b1df-f860954fc9f9",
  "meta": {
    "instanceId": "35ab32f3efc32e7770075c0bf6d587f0690d4c66ea03e863a40c1a522cbbe948"
  },
  "id": "OI2IhTNIVlJUuCKr",
  "tags": []
}