Chatbots & Conversational AI/InstaTest.json
{
  "name": "InstaTest",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0b3c3d71-5627-4b8c-91f0-ac44eaedf196",
              "name": "prompt",
              "type": "string",
              "value": "=Persona: You are a instagram influencer.\nContext: You receive a messages from your subscribers\nTask: Answer questions in your writing style and patterns according to your previous posts text. Use your post only for style and patterns reference.\nStyle rules:\nsimple answers"
            },
            {
              "id": "c2a9e272-5c0d-4685-ad0e-ce6995f92a1c",
              "name": "sessionId",
              "type": "string",
              "value": "={{ $json.body.session_id }}"
            },
            {
              "id": "b3c20ee3-07a1-4584-b0d9-7310a2c6b723",
              "name": "chatInput",
              "type": "string",
              "value": "={{ $json.body.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8e26b78f-8613-4f07-932b-acd65f3abe40",
      "name": "Set your system promt for AI",
      "type": "n8n-nodes-base.set",
      "position": [
        -208,
        320
      ],
      "typeVersion": 3.3,
      "notes": "In this node in \"prompt\" variable you can set your system prompt"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Set your system promt for AI').last().json.sessionId }}",
        "contextWindowLength": 20
      },
      "id": "554b19a2-cf79-4d09-a152-3d64d380fcda",
      "name": "Local n8n memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        192,
        480
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "10599a9c-b016-4740-94d6-857dcceaff72",
      "name": "ChatGPT model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        48,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9ab70d0e-46ef-4f73-a901-06304f0b7097",
      "name": "Send respond ",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        400,
        320
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## Easy Instagram(via ManyChat) bot\n---\n### Description:\nThis template is a main part of Entire solution. It's getting new message from Instagram via ManyChat(Extra No-Code tool for getting and sending message in Instagram). Generating message using ChatGPT and send back to ManyChat that sends it to Instagrtam.\n\n### Logic:\n1. Getting message from Instagram(from ManyChat)\n2. Set you system prompt for AI\n3. Create simple answer for message in AI block\n4. Send answer to Instagram(to ManyChat)\n\n",
        "height": 447.98321744507007,
        "width": 458.4028599661066,
        "color": 5
      },
      "id": "6162fcab-693d-48d6-97a8-5e5569ab59d3",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1008,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "instagram_chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "233b1097-2ba1-445d-a89d-fce7626aa775",
      "name": "Getting message from Instagram",
      "type": "n8n-nodes-base.webhook",
      "position": [
        -416,
        320
      ],
      "webhookId": "68d3fbc9-6e49-4bdc-851c-2a532be911ab",
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## 3) AI block\n---\nThere is 3 nodes:\n- AI Agent\n- Chat GPT model\n- Memory for history messages\n\n### To do:\n- in ChatGPT node you can choose the best model for you\n- in Memory Block you can change number of messages in history\n\n",
        "height": 614.7475040550845,
        "width": 313.9634922216307
      },
      "id": "5b1985e0-09c0-40e3-b15c-7d274b182387",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "={{ $json.prompt }}"
        }
      },
      "id": "bb58fe10-7907-4898-b643-0f8c0d63a6fe",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        32,
        320
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "content": "## 1) HTTP Post webhook\n\n**To do:**\nJust copy production link from this node and insert to custom action in ManyChat\n\nNo edits needed",
        "height": 440
      },
      "id": "82881d6f-8a3f-4cb3-92b6-06fd594656f1",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2) Edit prompt\n\n**To do:**\nGo inside and change input\n",
        "height": 320,
        "width": 220
      },
      "id": "86f230aa-cc21-48b9-9b30-3e0d262fff30",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 4) Respond webhook\n\nNo edits needed",
        "height": 300
      },
      "id": "7c4caba6-e3b7-441a-bd3b-4abad4fa636f",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        192
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send respond ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ChatGPT model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Local n8n memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Set your system promt for AI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Getting message from Instagram": {
      "main": [
        [
          {
            "node": "Set your system promt for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b40b05c3-ac81-4c64-878b-0dc7a2e48747",
  "meta": {
    "instanceId": "35ab32f3efc32e7770075c0bf6d587f0690d4c66ea03e863a40c1a522cbbe948"
  },
  "id": "o03BhrsxvfNT17To",
  "tags": []
}